manifest {
    name        = 'basic_metagenome_mag_workflow'
    author      = 'Natalie Miller'
    description = 'Trimming metagenome reads, assmebling metagenome reads, and mapping a mag to the metagenome to get percent mapped - a nextflow project for BIOL7210'
    version     = '1.0.0'
    nextflowVersion = '>=24.10.0'
}



params {
    reads_r1   = null
    reads_r2   = null
    mag_fasta  = null
    outdir     = "results"
    threads    = 8
}

process {
    cpus   = params.threads
    memory = '8 GB'
    time   = '2h'

    withName: 'FASTP' {
        publishDir = [
            path: "${params.outdir}/fastp",
            mode: 'copy'
        ]
    }

    withName: 'SPADES' {
        ext.args = '--meta'
        publishDir = [
            path: "${params.outdir}/spades",
            mode: 'copy'
        ]
    }

    withName: 'BOWTIE2_BUILD' {
        publishDir = [
            path: "${params.outdir}/bowtie2/index",
            mode: 'copy'
        ]
    }

    withName: 'BOWTIE2_ALIGN' {
        publishDir = [
            [
                path: "${params.outdir}/bowtie2/align",
                mode: 'copy',
                pattern: "*.{bam,sam,cram}"
            ],
            [
                path: "${params.outdir}/bowtie2/align",
                mode: 'copy',
                pattern: "*.log"
            ]
        ]
    }
}

profiles {
    conda {
        conda.enabled = true
    }

    test {
        params {
            reads_r1  = "${projectDir}/test_data/test_metagenome_R1.fastq.gz"
            reads_r2  = "${projectDir}/test_data/test_metagenome_R2.fastq.gz"
            mag_fasta = "${projectDir}/test_data/test_mag.fasta"
            outdir    = "test_results"
            threads   = 2
        }
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_report.html"
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.outdir}/pipeline_dag.html"
    overwrite = true
}
